<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/form.css">
    <title>formulario</title>
</head>

<body>
    <section class="menu">
        <div class="logo">
            <img src="../IMG/Hotelia horizontal blanco.svg" alt="">
        </div>
        <div class="textos">
            <h4 class="grande">Eres más que <br>
                bienvenido</h4>
            <h4 class="pequeño">Un lugar en tu corazón</h4>
        </div>
</section>


    <div class="encabezado">
        <div class="container">
            <div class="titulo">
                <h2>Regístrate</h2>
            </div>
            <div class="form">
                <div class="lz">
                    <label>Tipo de documento</label>
                    <select name="" id="tipodoc">
                        <option value=""></option>
                        <option value="">Cedula de ciudadania</option>
                        <option value="">Tarjeta de identidad</option> 
                        <option value="">Cedula de extranjeria</option>
                    </select>
                    <label>Nombres</label>
                    <input type="text">

                    <label>Fecha de nacimiento</label>
                    <input type="date">

                    <label>Email</label>
                    <input type="email">

                    <label>País de origen</label>
                    <select name="" id="tipodoc">
                        <option value=""></option>
                        <option value="">Colombia</option>
                        <option value="">Francia</option> 
                        <option value="">España</option>
                        <option value="">Argentina</option>
                        <option value="">Bracil</option>
                        <option value="">Nicaragua</option>
                        <option value="">China</option>
                    </select>

                    <label>Contraseña</label>
                    <input type="password">
                </div>

                <div class="ld">
                    <label>Número de documento</label>
                    <input type="text">

                    <label>Apellidos</label>
                    <input type="text">

                    <label>Genero</label>
                        <div class="persona">
                            <input type="radio">
                            <label>Mujer</label>

                            <input type="radio">
                            <label>Hombre</label>

                            <input type="radio">
                            <label>Otro</label>
                    </div>

                    <label>Telefono de contacto</label>
                    <input type="number">

                    <label>Foto</label>
                    <input type="password" placeholder="Seleccionar archivo">


                    <label>Confirmar contraseña</label>
                    <input type="password" placeholder="">
                </div>
                <div class="acep">
                    <input type="checkbox" class="acept">
                    <label>Acepto Terminos y Condiciones</label>
                   
                </div>
                <button class="boton">Ingresar</button>
    
                
            </div>
            <div class="aceptar">
                <input type="checkbox" class="acepta">
                <label>Acepto Terminos y Condiciones</label>
               
            </div>
            <button class="botones" href="../dashboard.html">Ingresar</button>

            
        </div>
    </div>
</body>
</html>