<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/login.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>
    <div class="contenedor">
        <div id="logo">
            <img src="../IMG/Hotelia horizontal negro.svg">
        </div>
        <div class="caja">
            <i class="fa-solid fa-user"></i>
            <form action="#">

                <div class="dato">
                    <label for="">Usuario</label>
                    <input type="text">
                </div>

                <div class="dato">
                    <label for="">Contraseña</label>
                    <input type="text">
                </div>


                <button id="boton">Ingresar</button>

                <p>¿No tienes una cuenta? <a href="formulario.html">Regístrate aquí.</a> </p>
        </div>
    </div>

    </form>
    </div>

</body>

</html>